.body {
  background-color: #000000;
}


.intro {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background: url("1.jpg") center no-repeat;
}




.message {
font-family: 'Century Gothic', arial;
font-size: 30px;
color: #000000;
margin-left: 550px;
border: 2px solid #000000;
padding: 20px 40px;
width: 240px;
margin-top: 40px;
text-decoration: none;

}
